<div class="row">
  <div class="col-md-12"><p><%= link_to 'Basic Profile Info', edit_setup_path(current_user.id), class: "btn btn-default btn-lg active" %></p></div>
</div>
<div class="row">
  <div class="col-md-12"><p><%= link_to 'Job Info', setup_jobs_path(current_user.id), class: "btn btn-default btn-lg active" %></p></div>
</div>
<div class="row">
  <div class="col-md-12"><p><%= link_to 'More About You', setup_vitals_path(current_user.id), class: "btn btn-default btn-lg active" %></p></div>
</div>
<div class="row">
  <div class="col-md-12"><p><%= link_to 'Bio', setup_bio_path(current_user.id), class: "btn btn-default btn-lg active" %></p></div>
</div>
<div class="row">
  <div class="col-md-12"><p><%= link_to 'Experience', setup_experience_path(current_user.id), class: "btn btn-default btn-lg active" %></p></div>
</div>
<div class="row">
  <div class="col-md-12"><p><%= link_to 'Schedule', setup_schedule_path(current_user.id), class: "btn btn-default btn-lg active" %></p></div>
</div>