<h1>Create/Update Your Profile</h1>
<div class="row">
  <div class="col-md-3 col-md-offset-9"><%= link_to "Looking for Help?", profile_index_path %></div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <div class="col-md-12 setupSidebarBorder">
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <%= render "setups/sidebar" %>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 setupBorder">
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Fill out this basic profile information to help you get noticed!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= simple_form_for :bio, url: {action: 'bio'} do |f| %>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :title, as: :string, label: "Title", value: @user.profile.bio.present? ? @user.profile.bio.title : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :experience, as: :text, label: "Your Experience", value: @user.profile.bio.present? ? @user.profile.bio.experience : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :car, as: :boolean, boolean_style: :inline, label: "Do you own a car?", checked: @user.profile.bio.present? ? @user.profile.bio.car : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :pets, as: :boolean, boolean_style: :inline, label: "Are you ok to be around pets?", checked: @user.profile.bio.present? ? @user.profile.bio.pet : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :smoke, as: :boolean, boolean_style: :inline, label: "Are you a smoker?", checked: @user.profile.bio.present? ? @user.profile.bio.smoke : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <%= f.input :minHour, as: :string, label: "Minimum/Hour", value: @user.profile.bio.present? ? @user.profile.bio.minHour : nil %>
                  </div>
                  <div class="col-md-6">
                    <%= f.input :maxHour, as: :string, label: "Maximum/Hour", value: @user.profile.bio.present? ? @user.profile.bio.maxHour : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <%= f.input :travel, as: :string, label: "How far you willing to travel?", value: @user.profile.bio.present? ? @user.profile.bio.travel : nil %>
                  </div>
                  <div class="col-md-2" style="vertical-align: bottom">Miles.</div>
                </div>
                <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
