<%= div_for(conversation, :class =>"#{ 'unread ' if conversation.is_unread?(@user) }") do %>

    <div class="content_left">
      <div class="avatar">
        <%= link_to image_tag(conversation.last_sender.user.image,
                              :title => conversation.last_sender.name,
                              :alt => conversation.last_sender.name),
                    conversation.last_sender.name %>
      </div>

      <header>
        <h5>
          <%= link_to conversation.last_sender.name, conversation.last_sender %>
        </h5>
        <div class="date">
          Time Sent: <%= time_ago_in_words(conversation.updated_at) %>
        </div>
      </header>

    </div>

    <div class="content_right">

      <div class="subject">
        <%= link_to(truncate(conversation.subject, :length => 55), conversation_path(conversation.id,:box => @box,:page => params[:page])) %>
      </div>

      <% unless @box.eql?'trash' %>
          <div class="action">

            <%= link_to(image_tag('/assets/icons/cancel-icon.svg', :alt => 'delete', :title => 'delete'),
                        conversation_path(conversation, :location => @box,
                                          :box => @box,
                                          :page => params[:page]),
                        data: { confirm: "Are you sure?" },
                        method: :delete )%>
          </div>
      <% end %>

      <div class="briefing">
        <%= raw(truncate(strip_tags(conversation.last_message.body), :length => 50)) %>
      </div>
    </div>
<% end %>