<%= div_for(conversation, :class =>"#{ 'unread ' if conversation.is_unread?(@user) }") do %>

    <div class="row">
      <div class="col-md-12">
        <p>Select the subject to view the conversation.</p>
      </div>
    </div>

    <div class="row individual_conversation">
      <div class="col-md-2">
        <div class="avatar">
          <%= link_to image_tag(conversation.last_sender.user.image,
                                :title => conversation.last_sender.name,
                                :alt => conversation.last_sender.name),
                      conversation.last_sender.name %>
        </div>

        <header>
          <h5>
            <%= link_to conversation.last_sender.name, conversation.last_sender %>
          </h5>
          <div class="date">
            Time Sent: <%= time_ago_in_words(conversation.updated_at) %>
          </div>
        </header>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-10">
            <div class="subject">
              <strong><%= link_to(truncate(conversation.subject, :length => 55), conversation_path(conversation.id,:box => @box,:page => params[:page])) %>
              </strong>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="briefing">
              <%= raw(truncate(strip_tags(conversation.last_message.body), :length => 50)) %>
            </div>
          </div>
        </div>
      </div>
    </div>

<% end %>