<div class="row">
  <div class="col-md-12">
    <div class="title">
      <h2><%= conversation.subject %></h2>
    </div>
  </div>
</div>
<div class="row">
    <div class="action">
      <% unless @box.eql?'trash' %>
          <div class="col-md-1">
            <%= link_to conversation_path(conversation, :location => 'conversation', :box => @box) do %>
                <%= image_tag('/assets/icons/btn_delete.svg') %>
            <% end %>
          </div>

          <div class="col-md-1">
            <%= link_to(image_tag('/assets/icons/cancel-icon.svg', :alt => 'delete', :title => 'delete'),
                        conversation_path(conversation, :location => @box,
                                          :box => @box,
                                          :page => params[:page]),
                        data: { confirm: "Are you sure?" },
                        method: :delete )%>
          </div>
      <% end %>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="participants">
      <h3>Participants:</h3>
      <% conversation.recipients.each do |recp| %>
          <%= link_to image_tag(recp.user.image, :title=>recp.name, :alt => recp.name), recp.name %>
      <% end %>
    </div>
  </div>
</div>

<div class="messages">
  <% @receipts.each do |receipt| %>
      <% if receipt.mailbox_type == @box %>
          <% message = receipt.message %>
          <% read_class = message.is_unread?(@actor) ? 'unread' : '' %>
          <%= render :partial => "messages/message",:object => message, :locals => {:read_class => read_class} %>
      <% end %>
  <% end %>

  <% unless @box.eql?'trash' %>
      <div class="row">
        <div class="col-md-12">
          <%= form_tag conversation_path(conversation), :method => :put, :class => "cont_conversation" do %>
              <% if @receipt and @receipt.errors.any? %>
                  <div class="error">
                    <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this message from being sent:</h2>
                    <ul>
                      <% @receipt.errors.full_messages.each do |msg| %>
                          <li>
                            <%= msg %>
                          </li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="block">
                <div class="form_row">
                  Answer
                </div>
                <div class="form_row">
                  <%= text_area_tag :body, nil,:rows =>6, :cols=> 53, :class => "required form_tag" %>
                </div>
                <div class="actions center">
                  <%= submit_tag "reply", :name => :reply_all,:class => "button" %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
  <%end %>
</div>
<%= javascript_tag do %>
    $(document).ready(function(){
    $(".message .body img").each(function(){
    var link = '<a href=\"' + $(this).attr('src') + '\" class=\"img_link\"><img style=\"max-width:490px;max-height:490px;\"src=\"' + $(this).attr('src') + '\"></a>';
    $(this).after(link);
    $(this).remove();
    $(".message .body img").aeImageResize({ height: 490, width: 490 });
    $(".message .body a.img_link").lightBox({
    maxHeight: 920,
    maxWidth: 920,
    imageLoading: '../assets/lightbox-ico-loading.gif',
    imageBtnClose: '../assets/lightbox-btn-close.gif',
    imageBtnPrev: '../assets/lightbox-btn-prev.gif',
    imageBtnNext: '../assets/lightbox-btn-next.gif',
    imageBlank: '../assets/lightbox-blank.gif'
    });
    })
    });
<% end %>