<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h1>Profile</h1>
      </div>
    </div>
    <%= bootstrap_form_tag url: '/customers/search', layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7" do |f| %>
        <div class="col-md-6">
          <%
            job_options = Job.all.map do |s|
              [ s.name, s.id ]
            end
          %>
          <%= select("Job", :job_id, options_for_select(job_options),
                     { include_blank: "None" }, { class: "form-control" })
          %>
        </div>
        <div class="col-md-4">
          <%= f.select :range, [[10, "10"], [20, "20"], [30, "30"], [100, "100"]],
                       { label: "Distance:"  },
                       { class: "selectpicker" }
          %>
        </div>
        <%= f.submit "Update Search" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">We are searching withing <%= @range %> miles of your location (<%= @city %>, <%= @state %>).</div>
</div>
<% @profiles.each do |profile| %>
    <div class="row resultRow">
      <div class="col-md-1">
        <% user = User.where(:id => profile.user_id).first %>
        <% user_image = user.image.present? ? image_url(user.image + '?type=large') : image_url('male_icon.svg') %>
        <%=
          link_to image_tag(user_image, class: 'img-responsive'), profile_path(profile)
        %>
      </div>
      <div class="col-md-8">
        <p>
          <strong>
            <%=
              link_to profile.user.fullname.present? ? profile.user.fullname : profile.user.name, profile_path(profile)
            %>
          </strong>
        </p>
        <p>
          <strong>Skills: </strong> <% user.profile.skill_list.each do |skill| %>
              <%= skill %>,
          <% end %>
        </p>
        <% if profile.experience.present? %>
            <p><%= link_to (profile.experience.years) + ' years of experience.', profile_path(profile) %></p>
        <% end %>
      </div>
    </div>
<% end %>
