<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h1>Profile</h1>
      </div>
    </div>
    <%= bootstrap_form_tag url: '/customers/search', layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7" do |f| %>
        <div class="col-md-6">
          <%
            job_options = Job.all.map do |s|
              [ s.name, s.id ]
            end
          %>
          <%= select("Job", :job_id, options_for_select(job_options),
                     { include_blank: "None" }, { class: "form-control" })
          %>
        </div>
        <div class="col-md-4">
          <%= f.select :range, [[10, "10"], [20, "20"], [30, "30"], [100, "100"]],
                       { label: "Distance:"  },
                       { class: "selectpicker" }
          %>
        </div>
        <%= f.submit "Update Search" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">We are searching withing <%= @range %> miles of your location (<%= @city %>, <%= @state %>) for Customers.</div>
</div>
<% @gigs.each do |gig| %>
    <div class="row"><div class="col-md-12"><p>&nbsp;</p></div></div>
    <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-4"><h4><%= gig.jobName %></h4></div>
      <div class="col-md-1">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-4"><p><%= gig.description %></p></div>
      <div class="col-md-1">&nbsp;</div>
    </div>
    <div class="row"><div class="col-md-12"><p>&nbsp;</p></div></div>
    <div class="row" style="border-bottom: 1px solid #D9E8F5"><div class="col-md-12"><p>&nbsp;</p></div></div>
<% end %>
