<div class="row">
  <div class="col-md-12">
    <h1>Gallery</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <b>Name: </b>
      <%= @gallery.name %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      <b>Description: </b>
      <%= @gallery.description %>
    </p>
  </div>
</div>
<div class="row">
    <div class="form-actions">
      <div class="col-md-1"><%= link_to 'Back', galleries_path, :class => 'btn btn-mini'  %></div>
      <div class="col-md-2"><%= link_to 'Edit gallery', edit_gallery_path(@gallery), :class => 'btn btn-mini' %></div>
      <div class="col-md-2"><%= link_to 'Delete gallery', gallery_path(@gallery), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini' %></div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <input type="hidden" id="galleryID" value="<%= @gallery.id %>">
    <h2>Pictures</h2>
  </div>
</div>

  <div class="row">
    <% unless @pictures.empty? %>
        <% @pictures.each do |pic| %>
            <div class="col-md-3" id="picture_<%= pic.id %>">
              <div class="thumbnail">
                <%= image_tag pic.image.url, class: 'img-responsive' %>
                <div class="caption">
                  <p style="text-align: center;">
                    <%= link_to "Edit picture", gallery_picture_path(@gallery.id, pic) %>

                    <%=
                      link_to "Delete picture", gallery_picture_path(@gallery.id, pic),
                              data: { confirm: "Are you sure?" },
                              method: :delete
                    %>

                  </p>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>