
<div class="row">
  <div class="col-md-12">
    <%= simple_form_for :gig, url: {action: :update} do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :jobName, as: :string, label: "Name(title) of the Job Posting you are hiring for.", value: @user.profile.gigs.present? ? @gig.jobName : nil  %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :description, as: :text, label: "Description of the Job Posting you are hiring for.", value: @user.profile.gigs.present? ? @gig.description : nil  %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :job_id, collection: Job.all %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.input :endDate, as: :date, html5: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit %>
          </div>
        </div>
    <% end %>
  </div>
</div>
