<h1>Profile</h1>
<%= bootstrap_form_for :profile, url: {action: 'create'} do |f| %>
    <%= f.text_field :street %><br />
    <%= f.text_field :city %><br />
    <%= f.text_area :state %><br />
    <%= f.check_box :home_phone %><br />
    <%= f.check_box :mobile_phone %><br />
    <%= f.check_box :home_phone %><br />
    <%= f.submit %>
<% end %>