<h1>Profile#edit,</h1>
<p>Find me in app/views/profile/edit.html.erb</p>
<%= bootstrap_form_for :profile do |f| %>
    <%= f.text_field :first_name %><br />
    <%= f.text_field :last_name %><br />
    <%= f.text_area :biography %><br />
    <%= f.check_box :admin %><br />
    <%= f.submit %>
<% end %>