<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">
        <h1>Profile</h1>
      </div>
    </div>
    <%= bootstrap_form_tag url: '/profile/index' do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%= f.text_field :type, {label: "What are you searching for:"} %>
          </div>
          <div class="col-md-4">
            <%= f.select :range, [[10, "10"], [20, "20"], [30, "30"], [100, "100"]],
                         { label: "Choose the number of miles you want to searching:" },
                         { class: "selectpicker" }
            %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit "Update Search" %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">We are searching withing <%= @range %> miles of your location (<%= @city %>, <%= @state %>).</div>
</div>
<% @profiles.each do |profile| %>
    <div class="row">
      <div class="col-md-8">
        <%=
          link_to profile.user.fullname.present? ? profile.user.fullname : profile.user.name, profile_path(profile)
        %>
      </div>
    </div>
<% end %>
