<h1>Create/Update Your Profile</h1>
<div class="row">
  <div class="col-md-3 col-md-offset-9"><%= link_to "Looking for Help?", profile_index_path %></div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <div class="col-md-12 setupSidebarBorder">
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <%= render "profile/sidebar" %>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 setupBorder">
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Tell us more about your Availability.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= simple_form_for :schedule, url: {action: 'schedule'} do |f| %>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :shortNotice, as: :boolean, boolean_style: :inline, label: "Are you available on short notice?", checked: @user.profile.schedule.present? ? @user.profile.schedule.shortNotice : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :summerMonths, as: :boolean, boolean_style: :inline, label: "Do you have experience caring for infants?", checked: @user.profile.schedule.present? ? @user.profile.schedule.summerMonths : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :beforeSchool, as: :boolean, boolean_style: :inline, label: "Do you have experience caring for twins?", checked: @user.profile.schedule.present? ? @user.profile.schedule.beforeSchool : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :afterSchool, as: :boolean, boolean_style: :inline, label: "Do you have experience providing homework help?", checked: @user.profile.schedule.present? ? @user.profile.schedule.afterSchool : nil %>
                  </div>
                </div>
                <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= simple_form_for :availability, url: {action: 'availability'} do |f| %>
              <div class="row">
                <div class="col-md-12">
                  <% @t = Time.new %>
                  <div class="col-md-3">&nbsp;</div>
                  <div class="col-md-1"><label>Su</label></div><div class="col-md-1"><label>Mo</label></div><div class="col-md-1"><label>Tu</label></div>
                  <div class="col-md-1"><label>We</label></div><div class="col-md-1"><label>Th</label></div><div class="col-md-1"><label>Fr</label></div>
                  <div class="col-md-1"><label>Sa</label></div>
                </div>
              </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Early Morning
                      (6am - 9am)</label>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 0, earlyMorning: true).present? %>
                    <%= f.input_field :earlyMorning, name:'day[sunday][earlyMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 1, earlyMorning: true).present? %>
                    <%= f.input_field :earlyMorning, name:'day[monday][earlyMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 2, earlyMorning: true).present? %>
                    <%= f.input_field :earlyMorning, name:'day[tuesday][earlyMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 3, earlyMorning: true).present? %>
                    <%= f.input_field :earlyMorning, name:'day[wednesday][earlyMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 4, earlyMorning: true).present? %>
                    <%= f.input_field :earlyMorning, name:'day[thursday][earlyMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 5, earlyMorning: true).present? %>
                    <%= f.input_field :earlyMorning, name:'day[friday][earlyMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 6, earlyMorning: true).present? %>
                    <%= f.input_field :earlyMorning, name:'day[saturday][earlyMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Late Morning
                      (9am - 12pm)</label>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 0, lateMorning: true).present? %>
                    <%= f.input_field :lateMorning, name:'day[sunday][lateMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 1, lateMorning: true).present? %>
                    <%= f.input_field :lateMorning, name:'day[monday][lateMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 2, lateMorning: true).present? %>
                    <%= f.input_field :lateMorning, name:'day[tuesday][lateMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 3, lateMorning: true).present? %>
                    <%= f.input_field :lateMorning, name:'day[wednesday][lateMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 4, lateMorning: true).present? %>
                    <%= f.input_field :lateMorning, name:'day[thursday][lateMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 5, lateMorning: true).present? %>
                    <%= f.input_field :lateMorning, name:'day[friday][lateMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 6, lateMorning: true).present? %>
                    <%= f.input_field :lateMorning, name:'day[saturday][lateMorning]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Early Afternoon
                      (12pm - 3pm)</label>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 0, earlyAfternoon: true).present? %>
                    <%= f.input_field :earlyAfternoon, name:'day[sunday][earlyAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 1, earlyAfternoon: true).present? %>
                    <%= f.input_field :earlyAfternoon, name:'day[monday][earlyAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 2, earlyAfternoon: true).present? %>
                    <%= f.input_field :earlyAfternoon, name:'day[tuesday][earlyAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 3, earlyAfternoon: true).present? %>
                    <%= f.input_field :earlyAfternoon, name:'day[wednesday][earlyAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 4, earlyAfternoon: true).present? %>
                    <%= f.input_field :earlyAfternoon, name:'day[thursday][earlyAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 5, earlyAfternoon: true).present? %>
                    <%= f.input_field :earlyAfternoon, name:'day[friday][earlyAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 6, earlyAfternoon: true).present? %>
                    <%= f.input_field :earlyAfternoon, name:'day[saturday][earlyAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Late Afternoon
                      (3pm - 6pm)</label>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 0, lateAfternoon: true).present? %>
                    <%= f.input_field :lateAfternoon, name:'day[sunday][lateAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 1, lateAfternoon: true).present? %>
                    <%= f.input_field :lateAfternoon, name:'day[monday][lateAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 2, lateAfternoon: true).present? %>
                    <%= f.input_field :lateAfternoon, name:'day[tuesday][lateAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 3, lateAfternoon: true).present? %>
                    <%= f.input_field :lateAfternoon, name:'day[wednesday][lateAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 4, lateAfternoon: true).present? %>
                    <%= f.input_field :lateAfternoon, name:'day[thursday][lateAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 5, lateAfternoon: true).present? %>
                    <%= f.input_field :lateAfternoon, name:'day[friday][lateAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 6, lateAfternoon: true).present? %>
                    <%= f.input_field :lateAfternoon, name:'day[saturday][lateAfternoon]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Early Evening
                      (6pm - 9pm)</label>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 0, lateAfternoon: true).present? %>
                    <%= f.input_field :earlyEvening, name:'day[sunday][earlyEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 1, lateAfternoon: true).present? %>
                    <%= f.input_field :earlyEvening, name:'day[monday][earlyEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 2, lateAfternoon: true).present? %>
                    <%= f.input_field :earlyEvening, name:'day[tuesday][earlyEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 3, lateAfternoon: true).present? %>
                    <%= f.input_field :earlyEvening, name:'day[wednesday][earlyEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 4, lateAfternoon: true).present? %>
                    <%= f.input_field :earlyEvening, name:'day[thursday][earlyEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 5, lateAfternoon: true).present? %>
                    <%= f.input_field :earlyEvening, name:'day[friday][earlyEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 6, lateAfternoon: true).present? %>
                    <%= f.input_field :earlyEvening, name:'day[saturday][earlyEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Late Evening
                      (9pm - 12am)</label>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 0, lateEvening: true).present? %>
                    <%= f.input_field :lateEvening, name:'day[sunday][lateEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 1, lateEvening: true).present? %>
                    <%= f.input_field :lateEvening, name:'day[monday][lateEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 2, lateEvening: true).present? %>
                    <%= f.input_field :lateEvening, name:'day[tuesday][lateEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 3, lateEvening: true).present? %>
                    <%= f.input_field :lateEvening, name:'day[wednesday][lateEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 4, lateEvening: true).present? %>
                    <%= f.input_field :lateEvening, name:'day[thursday][lateEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 5, lateEvening: true).present? %>
                    <%= f.input_field :lateEvening, name:'day[friday][lateEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 6, lateEvening: true).present? %>
                    <%= f.input_field :lateEvening, name:'day[saturday][lateEvening]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Overnight
                      (12am - 6am)</label>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 0, overnight: true).present? %>
                    <%= f.input_field :overnight, name:'day[sunday][overnight]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 1, overnight: true).present? %>
                    <%= f.input_field :overnight, name:'day[monday][overnight]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 2, overnight: true).present? %>
                    <%= f.input_field :overnight, name:'day[tuesday][overnight]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 3, overnight: true).present? %>
                    <%= f.input_field :overnight, name:'day[wednesday][overnight]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 4, overnight: true).present? %>
                    <%= f.input_field :overnight, name:'day[thursday][overnight]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 5, overnight: true).present? %>
                    <%= f.input_field :overnight, name:'day[friday][overnight]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                  <div class="col-md-1">
                    <% checked = @user.profile.availability.where(profile_id: @user.profile.id, day_of_week: 6, overnight: true).present? %>
                    <%= f.input_field :overnight, name:'day[saturday][overnight]', as: :boolean, boolean_style: :inline, :checked => checked %>
                  </div>
                </div>

              <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
