<h1>Profile</h1>

<% if @user.nil? %>
    <div class="row">
      <div class="col-md-12">There's no profile for this user.</div>
    </div>
<% else %>
    <div class="row">
      <div class="col-md-8">
        <% if !@profile.nil? %>

            <div class="row">
              <div class="col-md-4">
                <%= @user.image.present? ? image_tag(@user.image + '?type=large') : image_tag(male_icon.svg) %>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-2">Name: </div>
                  <div class="col-md-6">
                    <% if @user.name.present? %>
                        <%= @user.name %>
                    <% else %>
                        <%= @user.fullname %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">Babysitter in: </div>
                  <div class="col-md-4"><%= @profile.city %>, <%= @profile.state %> </div>
                </div>
                <div class="row">
                  <div class="col-md-3">Skills: </div>
                  <div class="col-md-7">
                    <% @profile.skill_list.each do |skill| %>
                      <%= skill %>,
                    <% end %>
                  </div>
                </div>

                <div class="row">
                  <% if @user.profile.birthDate.present? %>
                    <div class="col-md-3">
                      <p><%= Time.now.year - @user.profile.birthDate.year %> years old.</p>
                    </div>
                  <% end %>
                  <% if @user.profile.experience.present? %>
                    <div class="col-md-5">
                      <p><%= @user.profile.experience.years %> year(s) of experience.</p>
                    </div>
                  <% end %>
                  <% if @user.profile.gender.present? %>
                  <div class="col-md-2">
                    <p><%= @user.profile.gender == 0 ? 'Female'  : 'Male' %></p>
                  </div>
                  <% end %>
                </div>
                <% if @user.profile.bio.present? %>
                    <div class="row">
                      <div class="col-md-12">
                        Wages: <%= "$#{@user.profile.bio.minHour}" if @user.profile.bio.minHour.present? %>
                        to
                        <%= "$#{@user.profile.bio.maxHour}" if @user.profile.bio.maxHour.present? %>
                      </div>
                    </div>
                <% end %>

              </div>
            </div>

            <!-- Bio -->
            <div class="row">
              <div class="col-md-12">
                <h3>Bio</h3>
                <p><strong><%= @profile.bio.title if @profile.bio.present? %></strong></p>
                <p><%= @profile.bio.experience if @profile.bio.present? %></p>
              </div>
            </div>
            <!-- End Bio -->

            <!-- Photos -->
              <% @profile.galleries.each do |g| %>

                <div class="row">
                  <div class="col-md-12">
                    <h4><%= g.name %></h4>
                  </div>
                </div>

                <div class="row">
                  <% g.pictures.each do |p| %>
                      <div class="col-md-2">
                        <%= link_to image_tag(p.image.url, class: 'img-responsive'), gallery_picture_path(p.gallery_id, p.id) %>
                      </div>
                  <% end %>
                </div>

              <% end %>

            <!-- End Photos -->

            <!-- Experience -->
            <div class="row">
              <div class="col-md-12">
                <h3>Experience</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% if @user.profile.experience.present? %>
                  <p>Special Needs Experience</p>
                <% end %>
                <% if @user.profile.experience.present? %>
                    <p>Infants Needs Experience</p>
                <% end %>
                <% if @user.profile.experience.present? %>
                    <p>Twins Needs Experience</p>
                <% end %>
                <% if @user.profile.experience.present? %>
                    <p>Homework Needs Experience</p>
                <% end %>
                <% if @user.profile.experience.present? %>
                    <p>Sick Children Needs Experience</p>
                <% end %>
              </div>
            </div>
            <!-- End Experience -->
        <% end %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="map" style="width: 100%; height: 350px; margin-bottom:20px;"></div>
      </div> <!-- /map-container col-md-12 -->
    </div> <!-- /row -->
<% end %>

<% content_for :javascripts do %>
    <script type='text/javascript'>
      handler = Gmaps.build('Google');
      $(document).ready(function(){
        var activity = {"name": "<%= @profile.user.name %>", "lat": "<%= @profile.latitude %>", "lng": "<%= @profile.longitude %>", "location": "<%= @profile.full_address %>" }  // pass ruby variable to javascript
        gmap_show(activity);    // init show map for company card (only print marker)
      });
    </script>
<% end %>


