<h1>Profile</h1>

<% if @user.nil? %>
    <div class="row">
      <div class="col-md-12">There's no profile for this user.</div>
    </div>
<% else %>
    <div class="row">
      <div class="col-md-8">
        <% if !@profile.nil? %>

            <div class="row">
              <div class="col-md-1">Name: </div>
              <div class="col-md-4"><%= @user.name %></div>
            </div>

            <div class="row">
              <div class="col-md-1">Address: </div>
              <div class="col-md-4"><%= @profile.street %><br/><%= @profile.city %>, <%= @profile.state %> </div>
            </div>

        <% end %>
      </div>
      <div class="col-md-4"><%= image_tag @user.image + '?type=large' %></div>
    </div>
<% end %>



