<h1>Create/Update Your Profile</h1>
<div class="row">
  <div class="col-md-3 col-md-offset-9"><%= link_to "Looking for Help?", profile_index_path %></div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <%= render "profile/sidebar" %>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Ready to find a job? Fill out basic account information to set up your account and get started. You can finish the rest of your profile later on.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% if @vitals.errors.present? %>
                <div class="alert alert-warning">
                  <strong>Warning!</strong> <%= @vitals.errors.full_messages.first if @vitals.errors.any? %>
                </div>
            <% end unless @vitals.blank? %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= simple_form_for :profile, url: {action: 'vitals'} do |f| %>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :phone, as: :tel, label: "Contact Phone", input_html: {value: @user.profile.present? ? @user.profile.phone : nil} %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :displayPhone, as: :boolean, boolean_style: :inline, label: "Show Your Phone On The Site?", checked: @user.profile.present? ? @user.profile.displayPhone : nil %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :birthDate, as: :date, html5: true  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :gender, collection: [['Female', 0], ['Male', 1]]  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <%= f.input :eligible, as: :boolean, boolean_style: :inline, label: "Are You Eligible To Work In The United States?", checked: @user.profile.eligible %>
                  </div>
                </div>
                <%= f.submit %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
